{% extends "layout.html" %}

{% block title %} Info List{% endblock %}

{% block content %}
<!-- Content
================================================== -->
<div class="container" style="min-height: 400px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		
   		<h3><center>Info List</center></h3>
		<form method='POST' enctype="multipart/form-data">
			{{ form.as_p }}
			<input type="submit" class="btn btn-primary" value="Save">
		</form>

		</div>
	</div>
</div>

{% endblock %}
