{% extends "layout.html" %}

{% block title %} Info List {% endblock%}

{% block content %}

<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<table class="table">
					<tr>
						<th><h3>Name</h3></th>
						<th><h3>Email</h3></th>
						<th><h3>Created at</h3></th>
					</tr>
					{% for info in info %}
					<tr>	
						<td>{{ info.name }}</td>
						<td>{{ info.email }}</td>
						<td>{{info.created_at}}</td>
					</tr>
					{% endfor %}				
				</table>

			</div>
			
		</div>
	</div>
</div>

{% endblock %}